{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNV5LYTT2C"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YNV5LYTT2C');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{% static 'main/images/webp/homeleaf.webp' %}" />
    <title>About Us - Luminous Photonics</title>
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'main/images/favicon.ico' %}">

</head>
<body>
    {% include 'main/navbar.html' %}

    <div class="container">
        <h1 class="section-title">About Us</h1>
        <p>Learn more about the Luminous Photonics team, our mission, and our vision for the future of horticultural lighting.</p>
    </div>
    <!-- Back to Top Button -->
    <a href="#" class="back-to-top" id="backToTopBtn">
        <img src="{% static 'main/images/top-btn.png' %}" alt="Back to Top">
    </a>
    <a href="/" class="home-button" id="homeButton">
        <img src="{% static 'main/images/home-btn.png' %}" alt="Home">
     </a>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
 
     <script src="{% static 'js/scripts.js' %}"></script>
{% include 'main/footer.html' %}
</body>
</html>