{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if post %}
          {{ post.meta_title|default:post.title }}
        {% else %}
          Default Title
        {% endif %}
      </title>
      {% if post %}
        <meta name="keywords" content="{{ post.meta_keywords }}">
        <meta name="description" content="{{ post.meta_description }}">
      {% endif %}
      
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'main/images/favicon.ico' %}">

</head>
<body>
    {% include 'main/navbar.html' %}
    <header>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
    </footer>
    {% include 'main/footer.html' %}

    {% block extra_js %}{% endblock %}
</body>
</html>
