{% extends 'main/base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<article class="blog-post">
  <h1 style="color: #0073b1;">{{ post.title }}</h1>
  <div class="post-meta">
    Published on {{ post.created_at|date:"M d, Y" }}
  </div>
  {% if post.title_image %}
    <img src="{{ post.title_image.url }}" alt="{{ post.title }}">
  {% endif %}
  <div class="post-content">
    {{ post.content|safe }}
  </div>
  <div class="interaction-bar">
    <button onclick="toggleLike('{{ post.slug }}')">Like (<span id="like-count">{{ post.likes.count }}</span>)</button>
    <button onclick="logShare('{{ post.slug }}', 'linkedin')">Share on LinkedIn</button>
    <button onclick="logShare('{{ post.slug }}', 'facebook')">Share on Facebook</button>
    <button onclick="logShare('{{ post.slug }}', 'x')">Share on X</button>
  </div>
</article>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/blog_interactions.js' %}"></script>
{% endblock %}
