{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNV5LYTT2C"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YNV5LYTT2C');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{% static 'main/images/webp/homeleaf.webp' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Contact Us - Luminous Photonics</title>
</head>
<style>
    .error {
        color: red;
        margin-top: 5px;
    }
</style>
<body>
    {% include 'main/navbar.html' %}

    <div class="container">
        <h1 class="section-title">Contact Us</h1>
        <p>Get in touch with the Luminous Photonics team. We look forward to hearing from you!</p>

        <form method="post" action="{% url 'contact' %}" class="contact-form">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Your Name:</label>
                {{ form.name }}
                {% if form.name.errors %}
                    <div class="error">{{ form.name.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Your Email:</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.subject.id_for_label }}">Subject:</label>
                {{ form.subject }}
                {% if form.subject.errors %}
                    <div class="error">{{ form.subject.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.message.id_for_label }}">Message:</label>
                {{ form.message }}
                {% if form.message.errors %}
                    <div class="error">{{ form.message.errors }}</div>
                {% endif %}
            </div>
            <button type="submit">Send Message</button>
        </form>

        <div class="contact-info">
            <img src="{% static 'main/images/homeleaf.png' %}" alt="Luminous Photonics Logo" height="120">
            <h2 style="color: #0078BE;">Contact Information</h2>
            <p>Las Vegas, NV</p>
            <p>Email: austin@luminousphotonics.com</p>
        </div>
    </div>
    <!-- Back to Top Button -->
    <a href="#" class="back-to-top" id="backToTopBtn">
        <img src="{% static 'main/images/top-btn.png' %}" alt="Back to Top">
    </a>
    <a href="/" class="home-button" id="homeButton">
        <img src="{% static 'main/images/home-btn.png' %}" alt="Home">
     </a>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
 
     <script src="{% static 'js/scripts.js' %}"></script>

{% include 'main/footer.html' %}
</body>
</html>