{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YNV5LYTT2C"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YNV5LYTT2C');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{% static 'main/images/webp/recycle.webp' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="icon" type="image/x-icon" href="{% static 'main/images/favicon.ico' %}">
    <title>Luminous Photonics - Revolutionizing Horticultural Lighting</title>
</head>
<body>
    {% include 'main/navbar.html' %}

    <div class="container">
        <div class="hero hidden">
            <div class="video-overlay"></div>
            <video autoplay loop muted playsinline class="lazy-load">
                <source data-src="{% static 'main/images/tomatocut.mp4' %}" type="video/mp4">
            </video>
            <h2>Revolutionizing Horticultural Lighting</h2>
        </div>
        <div>
            <p class="intro-paragraph" style="line-height: 1.2; color: #333; max-width: 1000px; margin: 20px auto; padding: 20px; background: #f9f9f9; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
                Welcome to <i style="color: #0078BE;">Luminous Photonics</i>, where we are pioneering the future of horticultural lighting. Our patented (<i>U.S. Patent #10687478</i>: <a  href="https://patents.google.com/patent/US10687478B2" target="_blank" style="font-size: 0.9em;">Optimized LED Lighting Array for Horticultural Applications</a>), infinitely scalable, modularized lighting system achieves nearly homogeneous PAR distribution, dramatically improving energy efficiency and plant growth in controlled environments.
            </p>
        </div>
        <div class="two-col-section hidden" style="line-height: 1.2; color: #333; max-width: 1000px; margin: 20px auto; padding: 20px; background: #f9f9f9; box-shadow: 0 2px 5px rgba(0,0,0,0.1); margin-bottom: 40px;">
            <h2 style="color: #0078BE; margin-bottom: -20px;">WHAT IS HOMOGENOUS PAR DISTRIBUTION?</h2>
            <p>
                A homogeneous photosynthetically active radiation (PAR) distribution refers to a situation where the intensity of light that plants can use for photosynthesis is evenly spread across a given area, meaning there is minimized variation in light levels from one location to another across the illuminated plane. This results in all plants in that area receiving the same amount of usable light for photosynthesis, or every part of every leaf receiving the same degree of light intensity.
            </p>
            <h2 style="color: #0078BE; margin-bottom: -20px;">WHY IS THIS IMPORTANT?</h2>
            <p>In horticultural applications, this homogeneous PAR distribution results in every part of every leaf receiving the same intensity of light, effectively optimizing photosynthetic processes. This is elucidated in the academic literature:</p>
            <pre style="margin: 0 auto; text-align: center; display: flex; justify-content: center; width: fit-content;">
                <code>
If the PPFD is spatially uniform at an appropriate level in a plant canopy regardless of the canopy's depth, the net photosynthetic rate of the whole plant canopy should increase significantly, and the decrease in net photosynthetic capacity of lower leaves due to their senescence may be prevented.

— (Zhang et al., 2015; Joshi et al., 2017), <cite><a href="https://doi.org/10.21273/HORTSCI11822-17" target="_blank">Zhang, X., He, D., Niu, G., Yan, Z., & Song, J. (2015). A Combination of Downward Lighting and Supplemental Upward Lighting Improves Plant Growth in a Closed Plant Factory with Artificial Lighting.</a> <i>Hortscience, 52</i>(6), 831-835.</cite>
                </code>
            </pre>
            <pre style="margin: 0 auto; text-align: center; display: flex; justify-content: center; width: fit-content; margin-top: 20px;">
                <code>
A uniform light environment in a plant canopy has the following effects:
(1) Geometrical relationships between the source (photosynthesizing parts) and sink (accumulating parts of translocated carbohydrates) of plants are changed; (2) All leaves of a plant canopy relatively equally act as producers of carbohydrates; (3) Senescence of lower leaves
due to low PPFD is suppressed; and (4) Phytohormone balances in individual plants are changed.

— (Kozai, 2022), <cite>Kozai, T. (2022). Role and characteristics of PFALs. In <i>Plant Factory Basics, Applications and Advances</i> (p. 46). Academic Press.</cite>
                </code>
            </pre>
        </div>
        <div class="container" style="line-height: 1.2; color: #333; max-width: 1000px; margin: 20px auto; padding: 20px; background: #f9f9f9; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
            <h2 style="color: #0078BE; margin-bottom: -20px;">WHAT SETS US APART FROM CONVENTIONAL SOLUTIONS?</h2>
            <p>
                Near-homogenous PAR distribution, utilization of Chip-On-Board (COB) LEDs, machine learning intensity optimization, and a modular, infinitely scalable fixture design places us on the bleeding-edge of horticultural lighting technology. We are dedicated to excellence in the design, manufacturing, and showcasing of the performance for our patented lighting systems. 
            </p>
        </div>
        <div class="info-box-container hidden">
            <div class="info-box" data-info="agentic-ai">
                <h2>Infinitely Scalable, Modular Design</h2>
                <div class="info-box-content">
                    <p>The modularized, infinitely scalable nature of our novel system perfects and simplifies scalability across any given size square or rectangular space.</p>
                    <div class="cta-section1">
                        <a href="{% url 'cea' %}" class="learn-more-link">
                            <button class="learn-more">Learn More</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="info-box" data-info="lighting-simulations">
                <h2>Chip-On-Board (COB) LEDs</h2>
                <div class="info-box-content">
                    <p>COB LEDs offer higher-quality beam emission, less heat generation, longer life-cycle, more efficacious light output, and the enablement of our infinitely scalable solution.</p>
                    <div class="cta-section1">
                        <a href="{% url 'technology' %}#ls" class="learn-more-link">
                            <button class="learn-more">Learn More</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="info-box" data-info="ml-optimization">
                <h2>Machine Learning Optimization</h2>
                <div class="info-box-content">
                    <p>Our machine learning algorithm optimizes the lighting system intensity layer by layer, achieving near-homogenous PAR distribution. This approach ensures that each part of the plant canopy receives ideal light conditions for optimal growth and development.</p>
                    <div class="cta-section1">
                        <a href="{% url 'technology' %}#ml" class="learn-more-link">
                            <button class="learn-more">Learn More</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="info-box" data-info="cooling-system">
                <h2>Advanced Thermal Management</h2>
                <div class="info-box-content">
                    <p>Our state-of-the-art cooling system maintains optimal operating temperatures for the lighting elements, resulting in a maximum light output to energy input ratio. We utilize Computational Fluid Dynamics (CFD) to validate the cooling system.</p>
                    <div class="cta-section1">
                        <a href="{% url 'cooling_system' %}" class="learn-more-link">
                            <button class="learn-more">Learn More</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="grey-background lazy-load-bg" data-bg="{% static 'main/images/webp/hydro.webp' %}">
            <div class="overlay">
            <div class="content-wrapper">
                <div class="info-panel">
                    <div class="key-features-section">
                        <h3 class="panel-title">Key Features</h3>
                        <ul class="feature-list">
                            <li class="feature-item">Homogeneous PAR Distribution</li>
                            <li class="feature-item">Optimized Energy Efficiency</li>
                            <li class="feature-item">Infinitely Scalable</li>
                            <li class="feature-item">Agentic AI Control</li>
                            <li class="feature-item">Advanced Thermal Management</li>
                        </ul>
                    </div>
                    <div class="cta-section">
                        <a href="{% url 'technology' %}" class="learn-more-link">
                            <button class="learn-more">Learn More</button>
                        </a>
                    </div>
                </div>
                <div class="image-container1">
                    <picture>
                        <source srcset="{% static 'main/images/webp/fixture.webp' %}" type="image/webp">
                        <img src="{% static 'main/images/fixture.png' %}" alt="Fixture" loading="lazy">
                    </picture>
                </div>
            </div>
        </div>
        </div>
 
        <div class="features" style="padding-top: 20px;">
            <div class="feature hidden" style="margin-top: 20px;">
                <picture>
                    <source srcset="{% static 'main/images/webp/low-price.webp' %}" type="image/webp">
                    <img data-src="{% static 'main/images/low-price.png' %}" alt="Scalability Icon" width="100" height="100" class="lazy-load">
                </picture>
                <h3>UNPARALLELED ENERGY EFFICIENCY</h3>
                <p>Reduce energy consumption while maximizing light output.</p>
            </div>
            <div class="feature hidden" style="margin-top: 20px;">
                <picture>
                    <source srcset="{% static 'main/images/webp/recycle.webp' %}" type="image/webp">
                    <img data-src="{% static 'main/images/recycle.png' %}" alt="Growth Icon" width="100" height="100" class="lazy-load">
                </picture>
                <h3>ENHANCED PLANT GROWTH</h3>
                <p>Promote healthier, more uniform plant development with optimized light distribution.</p>
            </div>
            <div class="feature hidden" style="margin-top: 20px;">
                <picture>
                    <source srcset="{% static 'main/images/webp/energy-system.webp' %}" type="image/webp">
                    <img data-src="{% static 'main/images/energy-system.png' %}" alt="Efficiency Icon" width="100" height="100" class="lazy-load">
                </picture>
                <h3>INFINITELY SCALABLE</h3>
                <p>Adapt our system to any grow space, from small research setups to large commercial greenhouses.</p>
            </div>
        </div>
        
        <div class="image-container hidden" style="text-align: center;">
            <picture>
                <source srcset="{% static 'main/images/webp/csnrect.webp' %}" type="image/webp">
                <img src="{% static 'main/images/csnrect.png' %}" alt="Fixture" style="display: block; margin: 0 auto;" loading="lazy">
            </picture>
        </div>
        <div class="cta hidden">
            <h1 style="color: #0078BE">Learn More About the Science Behind our Revolutionary Technology</h1>
            <a href="{% url 'technology' %}" class="button">Explore the Technology</a>
        </div>
    </div>
    <div class="carousel-container">
        <div class="carousel">
            <a href="{% url 'technology' %}#beam-profile-1">
                <div>
                    <picture>
                        <source srcset="{% static 'main/images/webp/beam_profile_1.webp' %}" type="image/webp">
                        <img data-src="{% static 'main/images/beam_profile_1.png' %}" alt="Carousel Image 1" width="100" height="100" class="lazy-load">
                    </picture>
                </div>
            </a>
            <a href="{% url 'technology' %}#beam-profile-2">
                <div>
                    <picture>
                        <source srcset="{% static 'main/images/webp/beam_profile_2.webp' %}" type="image/webp">
                        <img data-src="{% static 'main/images/beam_profile_2.png' %}" alt="Carousel Image 2" width="100" height="100" class="lazy-load">
                    </picture>
                </div>
            </a>
            <a href="{% url 'technology' %}#csn-image">
                <div>
                    <picture>
                        <source srcset="{% static 'main/images/webp/csn.webp' %}" type="image/webp">
                        <img data-src="{% static 'main/images/csn.jpeg' %}" alt="Carousel Image 3" width="100" height="100" class="lazy-load">
                    </picture>
                </div>
            </a>
            <a href="{% url 'technology' %}#csn22-image">
                <div>
                    <picture>
                        <source srcset="{% static 'main/images/webp/csn22.webp' %}" type="image/webp">
                        <img data-src="{% static 'main/images/csn22.png' %}" alt="Carousel Image 4" width="100" height="100" class="lazy-load">
                    </picture>
                </div>
            </a>
            <a href="{% url 'technology' %}#2d-variance-1">
                <div>
                    <picture>
                        <source srcset="{% static 'main/images/webp/2d_variance_graph_1.webp' %}" type="image/webp">
                        <img data-src="{% static 'main/images/2d_variance_graph_1.png' %}" alt="Carousel Image 5" width="100" height="100" class="lazy-load">
                    </picture>
                </div>
            </a>
            <a href="{% url 'technology' %}#2d-variance-2">
                <div>
                    <picture>
                        <source srcset="{% static 'main/images/webp/2d_variance_graph_2.webp' %}" type="image/webp">
                        <img data-src="{% static 'main/images/2d_variance_graph_2.png' %}" alt="Carousel Image 6" width="100" height="100" class="lazy-load">
                    </picture>
                </div>
            </a>
            <a href="{% url 'technology' %}#ppfd-surface-1">
                <div>
                    <picture>
                        <source srcset="{% static 'main/images/webp/ppfd_surface_graph_1.webp' %}" type="image/webp">
                        <img data-src="{% static 'main/images/ppfd_surface_graph_1.png' %}" alt="Carousel Image 7" width="100" height="100" class="lazy-load">
                    </picture>
                </div>
            </a>
            <a href="{% url 'technology' %}#ppfd-surface-2">
                <div>
                    <picture>
                        <source srcset="{% static 'main/images/webp/ppfd_surface_graph_2.webp' %}" type="image/webp">
                        <img data-src="{% static 'main/images/ppfd_surface_graph_2.png' %}" alt="Carousel Image 8" width="100" height="100" class="lazy-load">
                    </picture>
                </div>
            </a>
            <a href="{% url 'technology' %}#heatmap-1">
                <div>
                    <picture>
                        <source srcset="{% static 'main/images/webp/heatmap_1.webp' %}" type="image/webp">
                        <img data-src="{% static 'main/images/heatmap_1.png' %}" alt="Carousel Image 9" width="100" height="100" class="lazy-load">
                    </picture>
                </div>
            </a>
            <a href="{% url 'technology' %}#heatmap-2">
                <div>
                    <picture>
                        <source srcset="{% static 'main/images/webp/heatmap_2.webp' %}" type="image/webp">
                        <img data-src="{% static 'main/images/heatmap_2.png' %}" alt="Carousel Image 10" width="100" height="100" class="lazy-load">
                    </picture>
                </div>
            </a>
        </div>
    </div>
    <div class="text-below-carousel">
        <a href="#" class="back-to-top" id="backToTopBtn">
            <picture>
                <source srcset="{% static 'main/images/webp/top-btn.webp' %}" type="image/webp">
                <img data-src="{% static 'main/images/top-btn.png' %}" alt="Back to Top" class="lazy-load">
            </picture>
        </a>
        <a href="/" class="home-button" id="homeButton">
            <picture>
                <source srcset="{% static 'main/images/webp/home-btn.webp' %}" type="image/webp">
                <img data-src="{% static 'main/images/home-btn.png' %}" alt="Home" class="lazy-load">
            </picture>
        </a>
        <div class="cta hidden">
            <h1 style="color: #0078BE">Observe our Cutting-Edge Research</h1>
            <button id="pdfButton2" data-pdf-url="{% static 'main/images/White-Paper-2.0.pdf' %}" onclick="openPDF()" class="button">White Paper</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="{% static 'js/scripts.js' %}"></script>

    </html>
    {% include 'main/footer.html' %}
</body>
</html>