/* full-width starfield section */
#star-section {
  position: relative;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

/* layer 1: small stars */
#star-section #stars,
#star-section #stars::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 1px; height: 1px;
  background: transparent;
  box-shadow:
    1167px 617px #FFF,
    833px 206px #FFF,
    678px 1943px #FFF,
    661px 991px #FFF,
    1234px 452px #FFF,
    202px 363px #FFF,
    31px 1985px #FFF,
    1733px 229px #FFF,
    566px 473px #FFF,
    129px 468px #FFF,
    314px 835px #FFF,
    199px 963px #FFF,
    1276px 1638px #FFF,
    65px 63px #FFF,
    1068px 354px #FFF,
    772px 83px #FFF,
    1462px 1854px #FFF,
    1704px 569px #FFF,
    133px 1438px #FFF,
    424px 1131px #FFF,
    295px 874px #FFF,
    1603px 1641px #FFF,
    162px 1500px #FFF,
    1873px 899px #FFF,
    864px 558px #FFF,
    696px 1965px #FFF,
    202px 486px #FFF,
    789px 1864px #FFF,
    386px 986px #FFF,
    1685px 48px #FFF,
    1504px 1117px #FFF,
    1075px 1059px #FFF,
    1763px 1067px #FFF,
    1119px 1807px #FFF,
    1791px 1727px #FFF,
    523px 1185px #FFF,
    335px 1119px #FFF,
    1069px 12px #FFF,
    198px 1366px #FFF,
    364px 1708px #FFF,
    1662px 768px #FFF,
    112px 1342px #FFF,
    1617px 1012px #FFF,
    281px 574px #FFF,
    487px 1548px #FFF,
    1920px 1291px #FFF,
    1178px 1780px #FFF,
    1816px 963px #FFF,
    344px 804px #FFF,
    1299px 239px #FFF,
    1781px 1813px #FFF,
    300px 1237px #FFF,
    47px 551px #FFF,
    1534px 85px #FFF,
    359px 1336px #FFF,
    1059px 1553px #FFF,
    512px 1970px #FFF,
    1345px 308px #FFF,
    1622px 555px #FFF,
    1058px 529px #FFF,
    1312px 681px #FFF,
    420px 1608px #FFF,
    1887px 1185px #FFF,
    899px 1956px #FFF,
    157px 142px #FFF,
    1057px 1331px #FFF,
    1526px 1145px #FFF,
    1707px 1621px #FFF,
    979px 1102px #FFF,
    1894px 1401px #FFF,
    1877px 464px #FFF,
    113px 1796px #FFF,
    1678px 80px #FFF,
    73px 921px #FFF,
    488px 1642px #FFF,
    349px 440px #FFF,
    1754px 613px #FFF,
    1440px 1144px #FFF,
    1726px 1114px #FFF,
    117px 1117px #FFF,
    197px 1926px #FFF,
    1468px 739px #FFF,
    1975px 337px #FFF,
    1820px 1391px #FFF,
    171px 93px #FFF,
    1700px 1726px #FFF,
    257px 928px #FFF,
    490px 1817px #FFF,
    1387px 196px #FFF,
    433px 34px #FFF,
    369px 1874px #FFF,
    920px 319px #FFF,
    1755px 445px #FFF,
    1442px 1370px #FFF,
    1517px 1215px #FFF,
    1991px 526px #FFF,
    1379px 1765px #FFF,
    1427px 395px #FFF,
    1653px 179px #FFF,
    1777px 36px #FFF,
    964px 163px #FFF,
    58px 905px #FFF,
    1633px 1580px #FFF,
    1459px 1712px #FFF,
    1755px 1577px #FFF,
    926px 1865px #FFF,
    1612px 1803px #FFF,
    1522px 1143px #FFF,
    1020px 1345px #FFF,
    479px 1304px #FFF,
    1231px 1142px #FFF,
    911px 907px #FFF,
    1109px 1378px #FFF,
    1973px 1186px #FFF,
    171px 1142px #FFF,
    1720px 638px #FFF,
    975px 1625px #FFF,
    784px 315px #FFF,
    1966px 1929px #FFF,
    158px 289px #FFF,
    268px 782px #FFF,
    785px 881px #FFF,
    273px 849px #FFF,
    1564px 1403px #FFF,
    718px 974px #FFF,
    1966px 1129px #FFF,
    1257px 1376px #FFF,
    893px 1382px #FFF,
    1929px 198px #FFF,
    1764px 1468px #FFF,
    416px 1437px #FFF,
    1213px 661px #FFF,
    1264px 581px #FFF,
    1855px 1797px #FFF,
    562px 21px #FFF,
    1791px 508px #FFF,
    103px 1151px #FFF,
    177px 414px #FFF,
    689px 1974px #FFF,
    1902px 1874px #FFF,
    1275px 855px #FFF,
    270px 949px #FFF,
    1607px 1406px #FFF,
    29px 1308px #FFF,
    1635px 332px #FFF,
    939px 1587px #FFF,
    678px 1686px #FFF,
    1133px 321px #FFF,
    1907px 1024px #FFF,
    9px 787px #FFF,
    1732px 150px #FFF,
    1378px 1226px #FFF,
    175px 1691px #FFF,
    1814px 1742px #FFF,
    920px 374px #FFF,
    1130px 215px #FFF,
    1294px 1301px #FFF,
    1774px 248px #FFF,
    1386px 1175px #FFF,
    729px 865px #FFF,
    616px 826px #FFF,
    956px 1908px #FFF,
    312px 145px #FFF,
    899px 1673px #FFF,
    1141px 1607px #FFF,
    1705px 743px #FFF,
    1081px 1425px #FFF,
    1538px 1238px #FFF,
    1432px 1789px #FFF,
    754px 1929px #FFF,
    1807px 369px #FFF,
    806px 20px #FFF,
    1654px 1884px #FFF,
    1618px 1878px #FFF,
    982px 1169px #FFF,
    1366px 1883px #FFF,
    187px 954px #FFF,
    741px 1334px #FFF,
    496px 680px #FFF,
    509px 293px #FFF,
    432px 1633px #FFF,
    1618px 1529px #FFF,
    1007px 517px #FFF,
    1822px 738px #FFF,
    1779px 1655px #FFF,
    679px 1535px #FFF,
    1817px 1289px #FFF,
    1413px 1894px #FFF,
    1152px 313px #FFF,
    348px 1607px #FFF,
    667px 426px #FFF,
    1676px 1310px #FFF,
    415px 1851px #FFF,
    1069px 1044px #FFF,
    1683px 257px #FFF,
    1748px 359px #FFF,
    220px 1624px #FFF,
    1175px 1817px #FFF,
    1425px 1009px #FFF,
    1215px 291px #FFF,
    204px 558px #FFF,
    1243px 236px #FFF,
    559px 1916px #FFF,
    245px 673px #FFF,
    1413px 1406px #FFF,
    47px 1508px #FFF,
    2000px 1138px #FFF,
    360px 1077px #FFF,
    409px 132px #FFF,
    353px 1004px #FFF,
    1328px 346px #FFF,
    1331px 996px #FFF,
    894px 1644px #FFF,
    872px 128px #FFF,
    44px 1222px #FFF,
    1152px 616px #FFF,
    1527px 1156px #FFF,
    1442px 859px #FFF,
    178px 1886px #FFF,
    1942px 1786px #FFF,
    378px 612px #FFF,
    1337px 274px #FFF,
    277px 858px #FFF,
    1937px 1144px #FFF,
    1943px 61px #FFF,
    279px 607px #FFF,
    1550px 250px #FFF,
    181 ;;= #FFF
