/* Base Styles */
body {
    font-family: 'Avenir Next', 'Helvetica Neue', sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #1E1E1E; /* Dark background */
    color: #e0e0e0;           /* Light text */
}

/* Info Box Styles */
.info-box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 40px;
}

.home-button {
    position: fixed;
    left: 20px; /* Position from the left */
    bottom: 40px; /* Align bottom with back to top */
    z-index: 1000;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
 .home-button img {
    width: 50px; /* Adjust image width */
    height: auto;
}
.home-button.show {
    opacity: 1;
}

.info-box {
    background-color: #ffffff;
    border: 5px solid #e8b923;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 18%; /* Adjust as needed */
    min-width: 150px; /* Minimum width of the boxes */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
    
}

.info-box:hover {
    transform: translateY(-5px); /* Slightly raise the box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
    background-color: #F0F0F0;
}

.info-box h3 {
    color: #000000;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 0.9em;
    color: #333;
}

.info-box-content {
    display: none; /* Hidden by default */
    margin-top: 10px;
}

.info-box.active .info-box-content {
    display: block; /* Show content when active */
}

/* Styling for the Learn More button */
.info-box .learn-more-button {
    background-color: #00acee; /* Button color */
    color: white; /* Button text color */
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.info-box .learn-more-button:hover {
    background-color: #003380; /* Darker shade for hover effect */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .info-box {
        width: 45%; /* Two boxes per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .info-box {
        width: 95%; /* One box per row on very small screens */
    }
}

.align-list {
    text-align: left;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.two-col-section {
    column-count: 2;
    column-gap: 1rem; /* Adjust gap between columns as needed */
    /* Optional: add padding or adjust width if necessary */
  }
  .columnpics {
    column-count: 2;
    column-gap: 1rem; /* Adjust gap between columns as needed */
    /* Optional: add padding or adjust width if necessary */
  }

a {
    color: #66afe9; /* Choose a lighter color */
}

a:hover {
    color: #005f7a; /* Color on hover */
    text-decoration: underline; /* Optional: underline on hover */
}

h1, h2, h3 {
    font-weight: 600;
}

p {
    line-height: 1.6;
}

.code-border {
    border: 5px solid #e8b923;
    border-radius: 5px;
}

/* Navbar Styles */
.navbar {
    background-color: #ffffff; /* Darker navbar */
    color: #E31937;
    border: 5px solid #e8b923;
    border-radius: 5px;
    padding: 10px 0;
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    font-size: 3.4em;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #00acee;
}

/* Hamburger Button Styling */
.hamburger {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #e0e0e0;
    margin: 5px 0;
    transition: 0.4s;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links-container {
        display: none;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #1f1f1f;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .nav-links-container.active {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .navbar .container {
        position: relative;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

/* Section Styles */
.section {
    margin-bottom: 40px;
}

.section-title {
    color: #e8b923; /* Accent color */
    margin-bottom: 10px;
}

.section-description {
    margin-bottom: 20px;
}

/* Contact Form Styles */
.contact-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    background-color: #2c2c2c;
    color: #e0e0e0;
    border: 1px solid #555;
    border-radius: 4px;
    box-sizing: border-box;
}



textarea {
    height: 150px;
}

[type="submit"] {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 5px solid #e8b923;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #F0F0F0;
}

/* Contact Information Styles */
.contact-info {
    margin-top: 40px;
}

.contact-info p {
    margin-bottom: 10px;
}

/* Hero Section Styles */
.hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 20px;
    text-align: center;
    margin-bottom: 40px;
    color: #e0e0e0;
    position: relative;
    z-index: 0;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 0;
    line-height: 1.5;
}

/* Intro Text Styles */
.intro-text {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: center;
    color: #000000;
}

/* Button Styles */
.button {
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    border: 5px solid #e8b923;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #F0F0F0;
}

/* Features Section Styles */
.features {
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    border: 5px solid #e8b923;
    border-radius: 5px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.feature {
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
}

.feature img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.feature h3 {
    margin-bottom: 10px;
    color: #e8b923;
}

.feature p {
    font-size: 0.9em;
    line-height: 1.5;
    color: #000000; /* Lighter gray for dark theme */
}

/* Fixture Styles */
.fixture {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.fixture img {
    max-width: 500px;
    height: auto;
    margin-bottom: 15px;
    display: block;
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
    .fixture img {
        max-width: 90%;
    }
}

/* CTA Styles */
.cta {
    text-align: center;
    margin-bottom: 40px;
}

.cta p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

/* Image Container Styles */
.image-container {
    display: flex;
    flex-wrap: wrap;           /* Allow wrapping on smaller screens */
    justify-content: center;   /* Center images horizontally */
    gap: 10px;
    margin-top: 20px;
}

.image-container img {
    flex: 1 1 45%;            /* Allow images to grow/shrink, aiming for about 45% of container width each */
    max-width: 45%;           /* Prevent images from exceeding 45% of container width */
    height: auto;             /* Maintain aspect ratio */
    border: 5px solid #e8b923;
    border-radius: 5px;
    margin-bottom: 10px;
}

.image-container li {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

/* Modular Images Section */
.modular-images-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.modular-images-section .image-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.modular-images-section .image-container {
    width: 85%;
    text-align: center;
}

.modular-images-section .image-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.modular-images-section .section-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

/* Mobile adjustments for modular images */
@media (max-width: 768px) {
    .modular-images-section .image-row {
        flex-wrap: wrap;
    }
    .modular-images-section .image-container {
        width: 80%;
    }
    .modular-images-section .image-container img {
        margin-bottom: 10px;
        max-width: 100%;
    }
}

/* PDF Container Styles */
#pdfContainer {
    margin-top: 20px;
}

.some-other-element + .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pdfContainer iframe {
    border: 1px solid #444;
}

.image-caption {
    text-align: center;
    font-size: smaller;
}

/* Hidden/Visible Animations */
.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

img.lazy-load {
    opacity: 0;
    transition: opacity 0.5s ease;
}

img.lazy-load.visible {
    opacity: 1;
}

/* Code Block Styles */
pre {
    background-color: #1e1e1e;
    padding: 10px;
    overflow-x: auto;
    font-family: monospace;
    white-space: pre-wrap;
    max-width: 700px;
    border: 1px solid #444;
    border-radius: 4px;
    color: #c5c5c5;
}
pre code {
    font-size: 0.9em;
}

/* Back to Top Button Styles */
.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 12px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;
    z-index: 1000;
}

.back-to-top:hover {
    cursor: pointer;
}

.back-to-top svg {
    display: inline-block;
    vertical-align: middle;
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.back-to-top:hover {
    animation: pulse 0.6s;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 20px;
        right: 20px;
        padding: 10px;
    }
}

/* Responsive Video */
.responsive-video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hero {
        padding: 60px 20px;
    }
    .hero h1 {
        font-size: 2.5em;
    }
    .features {
        flex-direction: column;
        align-items: center;
    }
    .feature {
        width: 80%;
    }
}

@media (min-width: 769px) {
    .fixture {
        width: 200px;
    }
}

/* Carousel Styling */
.carousel-container {
    width: 80%;
    margin: 0 auto;
    overflow: visible;
    border-radius: 5px;
}

.carousel .slick-slide {
    padding: 0 10px;
    text-align: center;
}

.carousel img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 5px solid #e8b923;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: block;
}

.carousel img:hover {
    background-color: #F0F0F0;
}

.carousel .slick-dots li button:before {
    color: #66afe9;
    font-size: 12px;
}

.carousel .slick-dots li.slick-active button:before {
    color: #005f7a;
}

.carousel .slick-prev:before,
.carousel .slick-next:before {
    color: #e8b923;
    font-size: 40px;
    opacity: 1;
    transition: color 0.3s ease;
}

.carousel .slick-prev:hover:before,
.carousel .slick-next:hover:before {
    color: #e8b923;
}

.carousel .slick-prev,
.carousel .slick-next {
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.carousel .slick-prev {
    left: -55px;
}

.carousel .slick-next {
    right: -55px;
}

.carousel .slick-dots {
    position: relative;
    bottom: -10px;
    margin-top: 0px;
}

@media (max-width: 1024px) {
    .carousel img {
        width: 80px;
        height: 80px;
    }
    .text-below-carousel {
        margin-top: 50px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .carousel img {
        width: 60px;
        height: 60px;
    }
    .carousel .slick-prev {
        left: -35px;
    }
    .carousel .slick-next {
        right: -35px;
    }
    .text-below-carousel {
        margin-top: 50px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .carousel img {
        width: 50px;
        height: 50px;
    }
    .carousel .slick-prev {
        left: -25px;
    }
    .carousel .slick-next {
        right: -25px;
    }
    .text-below-carousel {
        margin-top: 50px;
        text-align: center;
    }
}

.text-below-carousel {
    margin-top: 50px;
    text-align: center;
}
